@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Root */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Contains */
.section {
  padding: 0 4rem;
  margin-top: 4rem;
}

.title-section {
  font-size: 34px;
  font-weight: bold;
  color: black;
}

.mt-20 {
  margin-top: 20px;
}

.bg-color-section {
  background-color: #e6f6f6;
}

.active {
  color: #107096;
  font-weight: 800;
}

.ic-green {
  color: #1ccf23;
}

/* Section Hero */
#hero {
  margin-top: 4rem;
}

#hero img {
  width: 100%;
  height: 100%;
}

/* Section About */
#about {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#about img {
  height: 80px;
}

.wrapper-about {
  width: 889px;
}

.wrapper-about p {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

/* Section Product */
#product h1 {
  text-align: center;
}

.container-product {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper-product {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.circle-product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 4px 4px #107096, inset 0px 4px 4px #107096;
  padding: 3.5rem;
}

.circle-product img {
  width: 100%;
}

.contain-txt-product {
  width: 250px;
  font-size: 24px;
  font-weight: 700;
  color: #107096;
  text-align: center;
  margin-top: 1rem;
}

/* Section Faq */
#faq h1 {
  text-align: center;
}

.container-faq {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-primary-faq {
  width: 310px;
  padding: 2rem 2rem 3rem;
  background: linear-gradient(121.98deg, #107096 -2.98%, #6be2e6 167.26%);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  overflow: hidden;
}

.card-primary-faq h3 {
  font-weight: 800;
  font-size: 24px;
  color: #f6fa35;
  text-align: center;
  margin-bottom: 10px;
}

.circle-primary-faq {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 160px;
  height: 160px;
  background: linear-gradient(121.98deg, #107096 -2.98%, #6be2e6 167.26%);
  border: 6px solid #f6fa35;
  border-radius: 50%;
  padding: 2rem;
  margin-bottom: 10px;
}

.circle-primary-faq img,
.circle-faq img {
  width: 100%;
}

.desc-primary-faq {
  background: #ffffff;
  padding: 10px 1rem 0;
  margin: 0 -2rem;
}

.desc-primary-faq p {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #107096;
}

.card-faq {
  width: 310px;
  padding: 2rem 2rem 3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  background: #ffffff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.circle-faq {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding: 2rem;
  margin-bottom: 10px;
  background: #107096;
}

.card-faq h3 {
  font-weight: 800;
  font-size: 24px;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

.card-faq p {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

/* Image Tips */
.img-tips {
  margin-top: 4rem;
  padding: 4rem;
}

.img-tips img {
  width: 100%;
}

/* Section Condition */
#condition h1 {
  color: #107096;
  text-align: center;
}

.container-condition {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-condition {
  width: 555px;
  height: 521px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  overflow: hidden;
  margin-top: 2rem;
}

.card-condition h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 60px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 5px solid #107096;
}

.card-condition span {
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  color: #107096;
}

.banner-down {
  width: 100%;
  margin-top: 6rem;
}

/* Section Modal */
#modal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

.container-modal {
  width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-modal {
  width: 749px;
  padding-right: 3rem;
  margin-bottom: 2rem;
}

.title-modal h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.title-modal h4 {
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  text-align: right;
}

.title-modal h4 span {
  font-weight: 700;
  color: #107096;
}

.container-modal img {
  width: 100%;
}

.container-modal h3 {
  font-size: 28px;
  line-height: 33px;
  font-weight: 400;
  color: #000000;
  margin-top: 4rem;
}

.container-modal button {
  width: 246px;
  font-size: 28px;
  font-weight: 700;
  color: #f6fa35;
  background: #107096;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem;
  margin-top: 3rem;
}

/* Section Mitra */
#mitra h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.container-mitra {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card-mitra {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  height: 113px;
  margin-top: 2rem;
}

.card-mitra img {
  width: 100%;
}

.card-mitra-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  height: 113px;
  margin-top: 2rem;
}

.card-mitra-1 img {
  height: 100%;
}

.card-mitra:hover,
.card-mitra-1:hover {
  transform: scale(1.1);
  background-color: #6be2e6;
  transition: all 0.3s ease;
}

/* Section Footer */
.section-footer {
  padding: 40px 80px;
  background: #ffffff;
  margin-top: 5rem;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.img-footer {
  height: 94px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
}

.title-footer {
  color: #107096;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.desc-footer {
  color: #107096;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 3px;
}

.footer-social-media {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 50px;
}

.title-footer-social {
  color: #107096;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}

.img-footer-social {
  margin-right: 25px;
}

footer {
  width: 100%;
  height: 63px;
  background: #107096;
  font-size: 18px;
  font-weight: 700;
  padding: 0 4rem;
  color: #ffffff;
  display: flex;
  align-items: center;
}

/* 404 Not Found */
.container-notfound {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, #c4f3f5 0%, rgba(196, 243, 245, 0) 100%);
}

.container-notfound img {
  width: 627px;
  height: 348px;
}

.container-notfound h2 {
  font-weight: 500;
  font-size: 28px;
  color: #107096;
  line-height: 33px;
}

.container-notfound a {
  font-weight: 700;
  font-size: 28px;
  color: #f6fa35;
  width: 225px;
  height: 71px;
  background: #107096;
  border-radius: 40px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

/* Media Screen */
@media screen and (max-width: 1482px) {
  .card-primary-faq,
  .card-faq {
    width: 270px;
    padding: 2rem 2rem 3rem;
  }

  .card-primary-faq h3,
  .card-faq h3 {
    font-size: 20px;
  }

  .circle-primary-faq,
  .circle-faq {
    width: 140px;
    height: 140px;
    padding: 1.8rem;
  }

  .desc-primary-faq p,
  .card-faq p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1340px) {
  .card-primary-faq,
  .card-faq {
    width: 230px;
    padding: 2rem 2rem 3rem;
  }

  .circle-primary-faq,
  .circle-faq {
    width: 110px;
    height: 110px;
    padding: 1.5rem;
  }

  .card-condition {
    width: 505px;
    height: 571px;
  }

  .card-condition h3 {
    font-size: 27px;
  }

  .card-condition span {
    font-size: 27px;
  }

  .container-notfound img {
    width: auto;
    height: 295px;
  }

  .container-notfound h2 {
    font-size: 22px;
  }

  .container-notfound a {
    font-size: 18px;
    width: 205px;
    height: 45px;
  }
}

@media screen and (max-width: 1217px) {
  .circle-product {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    padding: 2.5rem;
  }

  .contain-txt-product {
    width: 190px;
    font-size: 20px;
  }
}

@media screen and (max-width: 1025px) {
  .card-primary-faq,
  .card-faq {
    width: 190px;
    padding: 1.6rem 1.6rem 2.2rem;
  }

  .card-primary-faq h3,
  .card-faq h3 {
    font-size: 20px;
  }

  .circle-primary-faq,
  .circle-faq {
    width: 110px;
    height: 110px;
    padding: 1.4rem;
  }

  .desc-primary-faq p,
  .card-faq p {
    font-size: 16px;
  }

  .card-condition {
    width: 411px;
    height: 555px;
  }

  .card-condition h3 {
    font-size: 24px;
  }

  .card-condition span {
    font-size: 24px;
  }
}

@media screen and (max-width: 900px) {
  .title-section {
    font-size: 25px;
  }

  .wrapper-about {
    width: 590px;
  }

  #about img {
    height: 67px;
  }

  .wrapper-about p {
    font-size: 20px;
  }

  .circle-product {
    width: 220px;
    height: 230px;
    padding: 3rem;
  }

  .contain-txt-product {
    width: 220px;
    font-size: 14px;
  }
  #faq {
    padding: 0.3rem;
  }

  .card-primary-faq,
  .card-faq {
    width: 280px;
  }

  .card-primary-faq h3,
  .card-faq h3 {
    font-size: 20px;
  }

  .circle-primary-faq,
  .circle-faq {
    width: 120px;
    height: 120px;
  }

  .desc-primary-faq p,
  .card-faq p {
    font-size: 14px;
  }

  #condition {
    padding: 0.4rem;
  }

  .card-condition {
    width: 330px;
    height: 521px;
  }

  .card-condition h3 {
    font-size: 16px;
    border-bottom: 2px solid #107096;
  }

  .card-condition span {
    font-size: 13px;
  }

  .container-modal {
    width: 520px;
  }

  .title-modal {
    width: 550px;
  }

  .title-modal h2 {
    font-size: 26px;
  }

  .title-modal h4 {
    font-size: 21px;
  }

  .container-modal h3 {
    font-size: 23px;
  }

  .container-modal button {
    width: 206px;
    font-size: 21px;
  }

  .img-tips {
    padding: 0;
  }

  #mitra h2 {
    font-size: 28px;
  }

  .card-mitra {
    width: 200px;
    padding: 20px;
    height: 63px;
  }

  .card-mitra img {
    width: 100%;
  }

  .card-mitra-1 {
    width: 200px;
    padding: 20px;
    height: 63px;
  }

  .section-footer {
    padding: 40px 20px;
  }

  .img-footer {
    height: 64px;
  }

  .title-footer {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .desc-footer {
    font-size: 13px;
    margin-bottom: 3px;
  }

  .footer-social-media {
    margin-top: 50px;
  }

  .title-footer-social {
    font-size: 15px;
    margin-right: 25px;
  }

  .img-footer-social {
    margin-right: 25px;
  }

  .img-footer-social img {
    width: 25px;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0.3rem;
  }
}

@media screen and (max-width: 720px) {
  .section {
    padding: 0 1.5rem;
  }

  .title-section {
    font-size: 20px;
  }

  .wrapper-about {
    width: 300px;
  }

  #about img {
    height: 58px;
  }

  .wrapper-about p {
    font-size: 17px;
  }

  .circle-product {
    width: 160px;
    height: 160px;
    padding: 2.5rem;
  }

  .contain-txt-product {
    width: 160px;
  }

  .contain-txt-product h3 {
    font-size: 16px;
  }

  #faq {
    padding: 2rem;
  }

  .card-primary-faq,
  .card-faq {
    width: 240px;
  }

  #condition {
    padding: 1.5rem;
    margin-bottom: -5rem;
  }

  .card-condition {
    width: 310px;
    height: 381px;
  }

  .card-condition h3 {
    font-size: 14px;
    border-bottom: 2px solid #107096;
    line-height: 30px;
  }

  .card-condition span {
    font-size: 12px;
    line-height: 20px;
  }

  #modal {
    margin-top: 2rem;
  }

  .container-modal {
    width: 290px;
  }

  .title-modal {
    width: 290px;
  }

  .title-modal h2 {
    font-size: 13px;
    line-height: 30px;
    text-align: left;
  }

  .title-modal h4 {
    text-align: left;
    font-size: 12px;
  }

  .container-modal h3 {
    font-size: 12px;
    margin-top: 2rem;
  }

  .container-modal button {
    width: 196px;
    font-size: 12px;
    margin-top: 2rem;
  }

  .img-tips {
    padding: 0;
  }

  #mitra h2 {
    font-size: 21px;
  }

  .card-mitra {
    width: 80px;
    padding: 10px;
    height: 43px;
  }

  .card-mitra img {
    width: 100%;
  }

  .card-mitra-1 {
    width: 80px;
    padding: 10px;
    height: 43px;
  }

  .section-footer {
    padding: 20px 5px;
    margin-top: 2.7rem;
  }

  .img-footer {
    height: 34px;
  }

  .title-footer {
    font-size: 9px;
    margin-bottom: 10px;
  }

  .desc-footer {
    font-size: 7px;
    margin-bottom: 3px;
  }

  .footer-social-media {
    margin-top: 50px;
  }

  .title-footer-social {
    font-size: 9px;
    margin-right: 12px;
  }

  .img-footer-social {
    margin-right: 12px;
  }

  .img-footer-social img {
    width: 15px;
  }

  footer {
    font-size: 12px;
  }

  .container-notfound {
    padding: 1rem;
  }

  .container-notfound img {
    width: 290px;
    height: auto;
  }

  .container-notfound h2 {
    font-size: 18px;
    text-align: center;
  }

  .container-notfound a {
    font-size: 16px;
    width: 192px;
    height: 37px;
  }
}
