@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Root */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/* Header */
.header {
  width: 100%;
  background-color: #f6fa35;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 14px 65px;
}

.nav {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logoimg {
  width: 95px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__link {
  font-weight: 400;
  transition: 0.4s;
  color: #00000080;
  margin-right: 25px;
}

.nav__link:hover {
  color: #107096;
}

.active {
  color: #107096;
  font-weight: 900;
}

/* Section Hero */
.section__hero {
  background: linear-gradient(180deg, #6be2e6 0%, #107096 100%);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  height: 778px;
  padding: 0 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desc-hero-wrapper {
  display: flex;
  flex-direction: column;
}

.desc-hero {
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.txt-yellow {
  color: #f6fa35;
}

.desc-down-hero {
  color: white;
  font-weight: 400;
  font-size: 20px;
  margin-top: 20px;
}

.border-yellow {
  background-color: #f6fa35;
  color: #107096;
  font-weight: 700;
  padding: 6px 22px;
}

/* Wrapper */
.wrapper {
  background-color: #e6f6f6;
  padding: 40px 80px;
}

/* Section About */
.section-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 90px;
  margin-top: 20px;
}

.title-about {
  font-size: 34px;
  font-weight: bold;
  color: black;
  margin-bottom: 25px;
}

.img-about {
  height: 60px;
  margin-bottom: 25px;
}

.desc-about {
  font-size: 24px;
  font-weight: 400;
  color: black;
}

.txt-blue {
  color: #107096;
  font-weight: 600;
}

/* Section Our Product */
.title-product {
  font-size: 34px;
  font-weight: bold;
  color: black;
  margin-bottom: 45px;
  text-align: center;
}

.section-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
